﻿
@{
    ViewBag.Title = "Login";
}

<h2>登入</h2>

@if (!String.IsNullOrEmpty(ViewBag.Massage))
{

<div>
    @ViewBag.Massage
    
    </div>
}



<form action="/Home/Log in"method="post">
    Email:<input type="text" name="email" value=""/><br/>
   密碼:<input type="password" name="ped" value="" /><br />
<input type="submit" value="登入"/>
</form>